@media screen and (max-width:767px){
    .principalVtas__producto{
        width: 100vw;
        height: fit-content;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        background: whitesmoke;
        padding: .2rem;   
        box-shadow: 10px 10px 30px hotpink;
    }
    
}

.check{
    display: none;
}
@media screen and (min-width:768px){
    .principalVtas__producto{
        width: 40vw;
        height: fit-content;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        background: whitesmoke;
        padding: .2rem;    
        box-shadow: 10px 10px 30px hotpink;
    }
    
}