.footerContainer{
    display: grid;
    justify-content: center;

}

.listaLinksImg{
    width: 3rem ;
    border-radius: 30px;
}
.listaLinks{
    display: flex;
    justify-content: space-between;
}

