.checkoutProductos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkoutProductos__div{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.checkoutProductos__div__input{
    width: 40px;
}
.checkoutTotales{
    display: flex;
    flex-direction: column;
}
.checkoutTotales__items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    
}